@font-face {
    font-family: H300;
    src: url(../fonts/HelveticaNeueCyr-Light.woff2);
}

@font-face {
    font-family: H400;
    src: url(../fonts/HelveticaNeueCyr-Roman.woff2);
}

@font-face {
    font-family: M500;
    src: url(../fonts/Montserrat-Medium.woff2);
}