@import '_need.scss';

* {
    padding: 0;
    margin: 0;
}

body {
    width: 83.6111%;
    margin: 0 auto;
}

@import '_header.scss';

.main {
    width: 100%;
    margin: 10px auto 83px;
    display: flex;
    justify-content: center;

    .list {
        list-style-type: none;
        padding: 0;
        min-height: 550px;

        &-item {
            // переменная/формула, которая высчитывает высоту 1ой ячейки, если хотите добавить, то просто меняйте чисто в переменной $n и сохраните файл.
            $n: 9; //кол-во ячеек
            $k: 100%; //высота родительского блока
            $h: $k / $n;
            height: $h;
            width: 233px;
            border-bottom: 1px solid $c1;

            &:last-child {
                border: none;
            }

            &-link {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                @include txt($c1, 22px, 16px, H300);
                text-decoration: none;
                margin: 0 0 0 20px;
                position: relative;

                &:hover {
                    text-decoration: underline;
                }

                &:active {
                    text-decoration: none;
                }
            }

            .rolls::before {
                content: url(../img/rolls_1.png);
                position: absolute;
                left: -10px;
                top: -25px;
            }

            .pizza::before {
                content: url(../img/pizza_1.png);
                position: absolute;
                left: -15px;
                top: -25px;
            }

            .sushi::before {
                content: url(../img/sushi_1.png);
                position: absolute;
                left: -15px;
                top: -23px;
            }

            .romantik::before {
                content: url(../img/romantik_1.png);
                position: absolute;
                left: -30px;
                top: -23px;
            }

            .dolku::before {
                content: url(../img/dolku_1.png);
                position: absolute;
                left: -15px;
                top: -23px;
            }

            .poke::before {
                content: url(../img/poke_1.png);
                position: absolute;
                left: -15px;
                top: -24px;
            }

            .drinks::before {
                content: url(../img/drinks_1.png);
                position: absolute;
                left: -7px;
                top: -25px;
            }

            .soy::before {
                content: url(../img/soy_1.png);
                position: absolute;
                left: -15px;
                top: -23px;
            }

            .new::before {
                content: url(../img/new_1.png);
                position: absolute;
                left: -40px;
                top: -23px;
            }
        }
    }

    .list-mob {
        display: none;
    }

    .photo {
        position: relative;

        &-radio {
            margin-left: -42.5px;
            position: absolute;
            bottom: 15px;
            left: 50%;
            display: flex;

            &-input {
                display: none;
            }

            #img1:checked~label[for="img1"] {
                background-color: $c2;
            }

            #img2:checked~label[for="img2"] {
                background-color: $c2;
            }

            #img3:checked~label[for="img3"] {
                background-color: $c2;
            }

            &-rad {
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background-color: #fff;
                margin: 0 20px 0 0;
                display: flex;
                align-items: center;

                &::before {
                    content: "";
                    border: 1px solid $c1;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    display: inline-block;
                    vertical-align: middle;

                }

                &:last-child {
                    margin: 0;
                }
            }
        }
    }

    .photo-desk {
        display: block;
        width: 100%;
        height: auto;
    }

    .photo-mobile {
        display: none;
    }

}

@import '_footer.scss';

.footer-mob {
    display: none;
}

//4K
@media (max-width: 2560px) {
    body {
        width: 1204px;
    }

    .header {
        .nav {
            justify-content: space-around;
        }
    }
}

//1440
@media (max-width: 1440px) {
    .header {
        .nav {
            display: flex;
            justify-content: space-around;

            &-list {
                &-item {
                    margin-right: 30%;
                }
            }
        }
    }
}

// Tablet
@media (max-width: 1024px) {
    body {
        width: 90%;
    }

    .header {
        .nav {
            justify-content: center;

            .contacts {
                display: none;
            }

            &-list {
                margin-left: 0;
                width: 307px;

                &-item {
                    margin: 0;
                }
            }
        }
    }

    .main {
        margin-bottom: 20px;

        .list {
            display: none;
        }

        .list-mob {
            display: block;
            margin: 0 auto;
            padding: 0 0 40px 0;
            width: 95%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
            list-style-type: none;

            a {
                margin: 0 0 15px 0;
            }

            &-item {
                width: 175px;
                min-height: 119px;
                background-image: url(../img/rolls_3.png);
                background-repeat: no-repeat;
                position: relative;

                &:nth-child(4n) {
                    margin: 0 0 15px 0;
                }

                &-link {
                    @include txt(#fff, 24px, 20px, M500);
                    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
                    text-decoration: none;
                    letter-spacing: 0.05em;
                    position: absolute;
                    bottom: 14px;
                    left: 0;
                    width: 100%;
                    text-align: center;
                }
            }
        }

        .photo {
            display: none;
        }
    }
}

@media (max-width: 768px) {

    body {
        width: 100%;
        margin: 0;
    }

    .header {
        width: 100%;
        display: flex;
        justify-content: space-around;

        .contacts {
            display: none;
        }

        .nav {
            &-list {
                &-item {
                    margin-right: 10%;
                }
            }
        }
    }

    .main {
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;

        .list {
            display: none;
        }

        .list-mob {
            display: block;
            margin: 0 auto;
            padding: 0 0 20px 0;
            width: 99.5%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            list-style-type: none;

            a {
                margin: 0 10px 15px 0;
            }

            a:nth-child(4n) {
                margin-right: 0;
            }

            &-item {
                width: 175px;
                min-height: 119px;
                background-image: url(../img/rolls_3.png);
                background-repeat: no-repeat;
                position: relative;

                &:nth-child(4n) {
                    margin: 0 0 15px 0;
                }

                &-link {
                    @include txt(#fff, 24px, 20px, M500);
                    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
                    text-decoration: none;
                    letter-spacing: 0.05em;
                    position: absolute;
                    bottom: 14px;
                    left: 0;
                    width: 100%;
                    text-align: center;
                }
            }
        }

        .photo {
            width: 100%;

            &-radio {
                display: none;
            }

            .photo-desk {
                display: none;
            }

            .photo-mobile {
                display: none;
            }
        }
    }

    .footer {
        width: 95%;

        .logo {
            margin: 0;
        }

        .text {
            width: 442px;
            text-align: center;
        }
    }
}

@media (max-width: 733px) {
    .main {
        .list-mob {

            a:nth-child(3n),
            a:nth-child(4n) {
                margin-right: 10px;
            }
        }
    }
}

@media (max-width: 685px) {
    body {
        width: 100%;
    }

    * {
        padding: 0;
        margin: 0;
    }

    .header {
        width: 100%;
        display: flex;
        justify-content: space-around;

        .logo {
            margin: 0;
        }

        .open {
            display: block;
            order: -1;
        }

        #burger-menu:checked~.nav {
            position: relative;
            position: fixed;
            left: 0;
            top: 0;
            z-index: 10;
            background-color: #fff;
            width: 100vw;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .nav-logo {
                display: block;
                position: absolute;
                top: 0px;
                left: 20px;
            }

            .close {
                display: block;
                position: absolute;
                top: 20px;
                right: 20px;
                @include txt($c1, 24px, 21px, H400);
            }

            .contacts {
                width: 100%;
                position: absolute;
                top: 100px;
                left: 25%;

                &-tel {
                    font-size: 24px;
                }

                &-red {
                    font-size: 21px;
                }
            }

            .nav-list {
                flex-direction: column;
                align-items: center;
                justify-content: center;

                &-item {
                    margin: 0 0 30px 0;

                    &:last-child {
                        margin: 0;
                    }

                    &-link {
                        font-size: 36px;
                    }
                }
            }
        }

        .nav {
            position: absolute;
            left: -99999%;
            top: 0;
        }


        .basket {
            display: none;
        }

        .basket-mob {
            display: block;
            order: 3;
        }

        .basket-mob {
            display: block;
            border: none;
            background-color: $c6;
            border-radius: 51.5px;
            padding: 8px 10px;
            margin: 0 0 0 -20px;
            position: relative;

            &-number {
                background: #FFFFFF;
                border: 1px solid #FF2727;
                box-sizing: border-box;
                border-radius: 51.5px;
                padding: 0px 7px 2px;
                position: absolute;
                bottom: 23px;
                left: 26px;

                output {
                    @include txt($c1, 14px, 10px, H300);
                }
            }

            &:focus {
                outline: none;
            }
        }
    }

    .main {
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;

        .list {
            display: none;
        }

        .list-mob {
            display: block;
            margin: 0 auto;
            padding: 0 0 100px 0;
            width: 99.5%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            list-style-type: none;

            a {
                margin: 0 0 15px 0;
            }

            a:nth-child(odd) {
                margin: 0 10px 15px 0;
            }

            &-item {
                width: 175px;
                min-height: 119px;
                background-image: url(../img/rolls_3.png);
                background-repeat: no-repeat;
                position: relative;

                &:nth-child(4n) {
                    margin: 0 0 15px 0;
                }

                &-link {
                    @include txt(#fff, 24px, 20px, M500);
                    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
                    text-decoration: none;
                    letter-spacing: 0.05em;
                    position: absolute;
                    bottom: 14px;
                    left: 0;
                    width: 100%;
                    text-align: center;
                }
            }
        }

        .photo {
            width: 100%;

            .photo-desk {
                display: none;
            }

            .photo-mobile {
                display: block;
                width: 100%;
                height: auto;
                margin: 0 0 20px 0;
            }
        }
    }


    .footer {
        display: none;
    }

    .footer-mob {
        display: block;
        position: relative;
        width: 100%;
        min-height: 38px;
        background-color: #f7f7f7;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 9px 0 5px 0;
        position: fixed;
        bottom: 0;
        left: 0;

        &-basket {
            display: block;
            border: none;
            background-color: $c6;
            border-radius: 51.5px;
            // box-sizing: border-box;
            padding: 13px 15px;
            position: relative;
            position: absolute;
            top: -23.5px;

            &-number {
                background: #FFFFFF;
                border: 1px solid #FF2727;
                box-sizing: border-box;
                border-radius: 51.5px;
                padding: 2px 9px 5px 9px;
                position: absolute;
                bottom: 30px;
                left: 30px;

                output {
                    @include txt($c1, 14px, 10px, H300);
                }
            }

            &:focus {
                outline: none;
            }
        }

        &-text {
            width: 100%;
            @include txt($c1, 15px, 12px, H400);
            text-align: center;
            margin: 30px 0 0 0;
        }
    }
}

@media (max-width: 667px) {
    .main {
        .list-mob {
            a {
                margin: 0 10px 15px 0;
            }

            a:nth-child(3n) {
                margin-right: 0;
            }

            a:nth-child(4n) {
                margin-right: 10px;
            }
        }
    }
}

@media (max-width: 547px) {
    .main {
        .list-mob {
            a {
                margin: 0 10px 15px 0;
            }

            a:nth-child(2n) {
                margin-right: 10;
            }

            a:nth-child(3n) {
                margin-right: 10px;
            }
        }
    }
}

//Telephone
@media (max-width: 426px) {

    body {
        width: 100%;
    }

    * {
        padding: 0;
        margin: 0;
    }

    .header {
        width: 100%;
        display: flex;
        justify-content: space-around;

        .logo {
            margin: 0;
        }

        .open {
            display: block;
            order: -1;
        }

        #burger-menu:checked~.nav {
            position: relative;
            position: fixed;
            left: 0;
            top: 0;
            z-index: 10;
            background-color: #fff;
            width: 100vw;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .nav-logo {
                display: block;
                position: absolute;
                top: 0px;
                left: 20px;
            }

            .close {
                display: block;
                position: absolute;
                top: 20px;
                right: 20px;
                @include txt($c1, 24px, 21px, H400);
            }

            .contacts {
                width: 100%;
                position: absolute;
                top: 100px;
                left: 25%;

                &-tel {
                    font-size: 24px;
                }

                &-red {
                    font-size: 21px;
                }
            }

            .nav-list {
                flex-direction: column;
                align-items: center;
                justify-content: center;

                &-item {
                    margin: 0 0 30px 0;

                    &:last-child {
                        margin: 0;
                    }

                    &-link {
                        font-size: 36px;
                    }
                }
            }
        }

        .nav {
            position: absolute;
            left: -99999%;
            top: 0;
        }


        .basket {
            display: none;
        }

        .basket-mob {
            display: block;
            order: 3;
        }

        .basket-mob {
            display: block;
            border: none;
            background-color: $c6;
            border-radius: 51.5px;
            padding: 8px 10px;
            margin: 0 0 0 -20px;
            position: relative;

            &-number {
                background: #FFFFFF;
                border: 1px solid #FF2727;
                box-sizing: border-box;
                border-radius: 51.5px;
                padding: 0px 7px 2px;
                position: absolute;
                bottom: 23px;
                left: 26px;

                output {
                    @include txt($c1, 14px, 10px, H300);
                }
            }

            &:focus {
                outline: none;
            }
        }
    }

    .main {
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;

        .list {
            display: none;
        }

        .list-mob {
            display: block;
            margin: 0 auto;
            padding: 0 0 100px 0;
            width: 99.5%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            list-style-type: none;

            a {
                margin: 0 10px 15px 0;
            }

            a:nth-child(odd) {
                margin: 0 10px 15px 0;
            }

            &-item {
                width: 175px;
                min-height: 119px;
                background-image: url(../img/rolls_3.png);
                background-repeat: no-repeat;
                position: relative;

                &:nth-child(4n) {
                    margin: 0 0 15px 0;
                }

                &-link {
                    @include txt(#fff, 24px, 20px, M500);
                    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
                    text-decoration: none;
                    letter-spacing: 0.05em;
                    position: absolute;
                    bottom: 14px;
                    left: 0;
                    width: 100%;
                    text-align: center;
                }
            }
        }

        .photo {
            display: block;
            width: 100%;

            .photo-desk {
                display: none;
            }

            .photo-mobile {
                display: block;
                width: 100%;
                height: auto;
                margin: 0 0 20px 0;
            }
        }
    }


    .footer {
        display: none;
    }

    .footer-mob {
        display: block;
        position: relative;
        width: 100%;
        min-height: 38px;
        background-color: #f7f7f7;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 9px 0 5px 0;
        position: fixed;
        bottom: 0;
        left: 0;

        &-basket {
            display: block;
            border: none;
            background-color: $c6;
            border-radius: 51.5px;
            // box-sizing: border-box;
            padding: 13px 15px;
            position: relative;
            position: absolute;
            top: -23.5px;

            &-number {
                background: #FFFFFF;
                border: 1px solid #FF2727;
                box-sizing: border-box;
                border-radius: 51.5px;
                padding: 2px 9px 5px 9px;
                position: absolute;
                bottom: 30px;
                left: 30px;

                output {
                    @include txt($c1, 14px, 10px, H300);
                }
            }

            &:focus {
                outline: none;
            }
        }

        &-text {
            width: 100%;
            @include txt($c1, 15px, 12px, H400);
            text-align: center;
            margin: 30px 0 0 0;
        }
    }
}

@media (max-width: 376px) {
    .main {
        .list-mob {
            a {
                margin: 0 0 15px 0;
            }

            a:nth-child(odd) {
                margin: 0 10px 15px 0;
            }
        }
    }
}

@media (max-width: 361px) {
    .main {
        .list-mob {

            a:nth-child(odd),
            a {
                margin: 0 10px 15px 0;
            }

            a:nth-child(1),
            a:nth-child(5),
            a:nth-child(6),
            a:nth-child(2) {
                margin-right: 10px;
            }
        }
    }
}

@media (max-width: 320px) {

    .header {
        #burger-menu:checked~.nav {
            .contacts {
                left: 15%;
            }
        }
    }

    .main {
        .list-mod {

            a,
            a:nth-child(odd) {
                margin: 0;
            }
        }
    }
}